nav.nav#nav
    .container.nav-container
        .nav-logo
            .nav-logo-text
                | D.
        .nav-sm-icon x
        .nav-ul-box#nav-ul-box
            .nav-spy
            ul.nav-ul#nav-ul
                li.nav-li
                    a(href="#header").nav-link Home
                li.nav-li
                    a(href="#about").nav-link About
                li.nav-li
                    a(href="#showcase").nav-link Showcase
                li.nav-li
                    a(href="#stack").nav-link Stack
                li.nav-li
                    a(href="#footer").nav-link Contact