nav.nav
    .container.nav-container
        nav.nav-logo
            .nav-logo-text
                | D.
        ul.nav-ul
            li.nav-li
                a(href="#").nav-link Home
            li.nav-li
                a(href="#").nav-link About
            li.nav-li
                a(href="#").nav-link Stack
            li.nav-li
                a(href="#").nav-link Showcase
            li.nav-li
                a(href="#").nav-link Contact