nav.nav
    .container.nav-container
        nav.nav-logo
        ul.nav-ul
            li.nav-li
                a(href="#").nav-link Home
            li.nav-li
                a(href="#").nav-link About
            li.nav-li
                a(href="#").nav-link Showcase
            li.nav-li
                a(href="#").nav-link Contact