section.about
    h2.section-name.about-heading
        span.section-name-span About me
    p.about-paragraph
        | I m self-taught fullstack web developer.
        | I've learned to code from web tutorials and courses offered by sites like Udemy, Lynda, Treehouse, FreeCodeCamp etc., and I'm looking for junior developer job.