section.about
    h2.section-name.about-heading
        span.section-name-span About
    p.about-paragraph
        | I'm graduate of ZSP no 19 in Lodz aspiring to become fully fledged web-developer. Although I attended to IT oriented school I consider myself self-educated. I learned to code on websites such as Udemy, Lynda, Treehouse etc.