section.about#about
    h2.section-name.about-heading
        span.section-name-span About me
    p.about-paragraph
        | I've learned to code from web tutorials and courses offered by sites like Udemy, Lynda, Treehouse, FreeCodeCamp etc., and now I'm looking for junior developer job. odbylem praktyki z funduszu UE na ktorych pracowalem jako react/redux dev z .net api, zyskujac wiele wiedzy i nowej perspektywy na programowanie. Zmotywowalo mnie to do dalszej nauki programowania, zglebilem angulara i node.js oraz poszerzylem swoja wiedze o php na ktorym obecnie skupiam swoj rozwoj.