header.header#header
  .container
    .header-content
      h2.header-title Hi, my name's 
        span Damian Furmańczyk,
      p.header-desc and I build web applications
      .header-btn-wrapper
        button.header-btn.header-btn_work See my work ->
        button.header-btn.header-btn_contact Get in touch