header.header#header
  .container
    .header-content
      h2.header-title Hi, my name's 
        span Damian,
      p.header-desc I build web applications
      .header-btn-wrapper
        button.header-btn.header-btn_work See my work
        button.header-btn.header-btn_contact Get in touch