header.header
  .container
    .header-content
      h2.header-title Hey, my name's 
        span Damian Furmańczyk,
      p.header-desc I build web applications and I'm currently looking for a developer job.
      .header-btn-wrapper
        button.header-btn.header-btn_work See my work ->
        button.header-btn.header-btn_contact Get in touch