section.showcase
    .container
        h2.section-name
            span.section-name-span projects
    
        .projects-wrapper
            .project-tile.project-tile_react-yt-search
                    .project-tile-heading
                        | React serverless yt search
                    .project-tile-desc
                        p SPA powered up with google-auth and playlist management, 
                        | powered with React, Redux, Semantic-UI and Firebase
                        div
                            .project-tile-desc-links-wrapper
                                a(href='https://yt-react-search.herokuapp.com/' target='_blank') Live
                                a(href='#' target='_blank') Github
            .project-tile.project-tile_nodejs-blogspot
                    .project-tile-heading
                        | Node.js full-stack blogspot
                    .project-tile-desc
                        p App for account management with passport.js, blog publishing powered up with  mongodb and materialize.css
                        .project-tile-desc-links-wrapper
                            a(href='https://blogspot-node.herokuapp.com/' target='_blank') Live
                            a(href='https://github.com/DamianFurmanczyk/nodejs-blogspot-final' target='_blank') Github
            .project-tile.project-tile_chall
                    .project-tile-heading
                        | Webdev Challange #3
                    .project-tile-desc
                        p App with account management system, powered ip with React, Redux, Semantic-UI and Firebase
                        .project-tile-desc-links-wrapper
                            a(href='https://damianfurmanczyk.github.io/webdev-chall-3-built/' target='_blank') Live
                            a(href='https://github.com/DamianFurmanczyk/webdev-chall-3' target='_blank') Github
            .project-tile.project-tile_angular-movie-browser
                    .project-tile-heading
                        | Angular movie browser, work in progress
                    .project-tile-desc
                        p Calculator powered up with  vanilla html, materialize.css and vanilla javascript
                        .project-tile-desc-links-wrapper
                            a(href='https://damianfurmanczyk.github.io/calculator/' target='_blank') Live
                            a(href='https://github.com/DamianFurmanczyk/calculator' target='_blank') Github
            .project-tile.fcc-tribute-page
                    .project-tile-heading
                        | FCC tribute page
                    .project-tile-desc
                        p Calculator powered up with  vanilla html, materialize.css and vanilla javascript
                        .project-tile-desc-links-wrapper
                            a(href='https://damianfurmanczyk.github.io/calculator/' target='_blank') Live
                            a(href='https://github.com/DamianFurmanczyk/calculator' target='_blank') Github
            .project-tile.project-tile_calc
                    .project-tile-heading
                        | Simple web calculator
                    .project-tile-desc
                        p Calculator powered up with  vanilla html, materialize.css and vanilla javascript
                        .project-tile-desc-links-wrapper
                            a(href='https://damianfurmanczyk.github.io/calculator/' target='_blank') Live
                            a(href='https://github.com/DamianFurmanczyk/calculator' target='_blank') Github

    h2 For more You can visit my codepen: