section.tech-stack
    .container
        h2.tech-stack-heading.section-name 
            span.section-name-span Technology stack
        
        .tech-stack-row
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | HTML
                    span.tech-stack-item-i-main.devicon-html5-plain.colored
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | CSS
                    span.tech-stack-item-i-info.fa-info-circle.fa
                    span.tech-stack-item-i-main.devicon-css3-plain.colored
                    .tech-item-box
                        dl.tech-item-box-dl
                            dt.tech-item-box-dl-dt
                                b Preprocessors
                            dd.tech-item-box-dl-dd
                                | Sass, Stylus
                            dt.tech-item-box-dl-dt
                                b Methologies    
                            dd.tech-item-box-dl-dd
                            | BEM
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Javascript
                    span.tech-stack-item-i-main.devicon-javascript-plain.colored
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Jquery
                    span.tech-stack-item-i-main.devicon-jquery-plain.colored
        .tech-stack-row
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | React.js
                    span.tech-stack-item-i-info.fa-info-circle.fa
                    span.tech-stack-item-i-main.devicon-react-original.colored
                    .tech-item-box
                        dl.tech-item-box-dl
                            dt.tech-item-box-dl-dt
                                b State managers
                            dd.tech-item-box-dl-dd
                                | Redux
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Angular 4
                    span.tech-stack-item-i-main.devicon-angularjs-plain.colored
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Webpack 4
                    span.tech-stack-item-i-main.devicon-webpack-plain.colored
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Node.js
                    span.tech-stack-item-i-info.fa-info-circle.fa
                    span.tech-stack-item-i-main.devicon-nodejs-plain.colored
                    .tech-item-box
                        dl.tech-item-box-dl
                            dt.tech-item-box-dl-dt
                                b Frameworks
                            dd.tech-item-box-dl-dd
                                | Express
        .tech-stack-row
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Mongodb
                    span.tech-stack-item-i-main.devicon-mongodb-plain.colored
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | PHP
                    span.tech-stack-item-i-main.devicon-php-plain.colored
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Git
                    span.tech-stack-item-i-main.devicon-git-plain.colored
            .tech-stack-item.unseen
                .tech-stack-item-content
                    h3.tech-stack-item-content-heading
                        | Photoshop
                    span.tech-stack-item-i-main.devicon-photoshop-plain.colored