section.footer#footer
  .container
    form.footer-contact-form
      .footer-contact-form-left-side
        .input-box
          input(name='name' id='name' type='name' required)
          label(for='name')
            span Name
        .input-box
          input(name='email' id='email' type='email' required)
          label(for='email')
            span Email
        .input-box
          input(name='company' id='company' type='text' required)
          label(for='company')
            span Company
      .footer-contact-form-right-side
        .input-box
            input(type='submit' value='Send')
            textarea(cols="30", rows="10" name='message' id='message' required)
            label(for='message')
                span Message