.nav
    box-shadow: 2px 0 2px transparentify(clightblue, .8)
    z-index 200
    position fixed
    background cwhitish
    width 100%
    top 0
    height 75px

    &-container
        height 100%
        display flex
        justify-content: space-between
        align-items: center
        max-width 1200px
        width 80%

    &-logo
        font-family mainF
        font-weight: 500
        padding .4rem
        font-size 1.4rem
        background: lighten(cyellow, 20%) !important
        position relative
        cursor pointer
        &-text
            box-shadow: 0 0 1px cdarkgray
            background: darken(cyellow, 5%) !important
            padding .6rem 1.2rem

    &-ul
        display flex
    
    &-li
        padding 0 20px
        height 100%
        display flex
        cursor pointer
        align-items: center
        a.active
            opacity 1
            color white
        a
            transition .35s ease-in-out
            position relative
            z-index 10

    &-link
        font-weight: 500
        font-size 1.2rem
        color cblue
        text-decoration: none
