.nav
    box-shadow: 2px 0 2px transparentify(clightblue, .8)
    position relative
    z-index 200

    &-container
        padding 1rem 1.7rem 1rem .9rem
        display flex
        justify-content: space-between
        align-items: center
        max-width 1200px
        width 80%

    &-logo
        font-family mainF
        font-weight: 500
        padding .4rem
        font-size 1.4rem
        background: lighten(cyellow, 20%) !important
        position relative
        cursor pointer
        &-text
            box-shadow: 0 0 1px cdarkgray
            background: darken(cyellow, 5%) !important
            padding .6rem 1.2rem

    &-ul
        display flex
        &:hover a
            opacity 0.6
    
    &-li
        padding 0 1.5rem
        &:hover > a
            opacity 1

    &-link
        transition .35s ease-in-out
        font-weight: 500
        font-size 1rem
        color cblue
        text-decoration: none