.header
    .container
        margin-left 50%
        position relative
        width 100%
        
    display flex
    align-items: center
    min-height 80vh
    background: url("../img/keyboard.jpg") fixed no-repeat center left;
    background-size: cover;
    position relative
    &::after
        background: transparentify(cblack, .5);
        fullsize()

    &-title
        h(1.7rem)
        line-height 2.2rem
        span
            color cyellow
    &-desc
        font-size 1.4rem
    
    &-content
        position absolute
        top 50%
        transform translateY(-50%)
        pointer-events: none
        color #fff
        z-index 10
        padding 2rem
        text-align: center
        line-height 2
        border-radius: .2rem
    
    &-btn
        &-wrapper
            margin 0 auto
            display table
            margin-top .4rem
        pointer-events: all
        padding 1rem .60rem
        text-transform: uppercase
        font-size 1.1rem
        line-height: 1
        font-weight: 500
        font-family: mainF
        cursor pointer
        border 3px solid darken(cyellow, 10%)
        &_contact
            transition: .25s ease
            color #ffffff
            margin-left 1rem
            background: darken(cyellow, 10%)
            &:hover
                background: darken(cyellow, 20%)
        &_work
            color darken(cyellow, 10%)
            background cgray
            &:hover
                color cyellow
               

