doctype html(contenteditable)
html(lang="tr")
  head
    meta(charset="utf-8")
    title  Title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='Shortcut Icon', type='image/x-icon', href='img/favicon.ico')
    link(rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
  body
    main#main
      include partials/_1loader.pug
      include partials/_2nav.pug
      include partials/_3header.pug
      include partials/_3.5about.pug
      include partials/_4showcase.pug
      include partials/_5tech-stack.pug

    include partials/_footer.pug