.container
    max-width xl
    margin 0 auto


h1, h2, h3, h4
    font-family: 'Montserrat'
    letter-spacing: 2px

body
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Exo', Verdana, Geneva, Tahoma, sans-serif
    backgorund: #fff