.container
    max-width xl
    margin 0 auto

.nav-spy
    background transparentify(clightblue, .5)
    pointer-events: none
    transition .3s
    position fixed

::selection
    background clightblue

section
    padding 6rem 0

main
    padding-top 100px
    position relative
    z-index 200
    background #fff
    border-bottom .3rem solid cblueishgray
    box-shadow 0 10px 35px -4px cgray

.section-name
    h(2.4rem)
    color cblueishgray
    margin-bottom 2.6rem
    &.open .section-name-span::after
        width 100%
    &-span
        position relative
        &::after
            width 0
            content ''
            display block
            position absolute
            left 50%
            transform: translateX(-50%)
            margin 1rem 0
            transition 1s ease
            height .3rem
            background clightblue

h1, h2, h3, h4
    font-family: 'Montserrat'
    letter-spacing: 2px

body
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Exo', Verdana, Geneva, Tahoma, sans-serif
    backgorund: #fff