// typography
@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500i|Montserrat:300,400,500,500i');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "reset.styl"
@import "variables&mixins.styl"
@import "global.styl"
@import "sections/*"