@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500i|Montserrat:300,400,500,500i');
@import url('https://fonts.googleapis.com/css?family=Exo');

h1, h2, h3, h4
    font-family: 'Montserrat'
    letter-spacing: 2px

body
    font-family: 'Exo', Verdana, Geneva, Tahoma, sans-serif