@import url('https://fonts.googleapis.com/css?family=Roboto');

// breakpoints
s = 576px
m = 768px
l = 992px
xl = 1200 px

// colors

cblue = #2098D1
clightblue = #40A6D7
cdarkblue = #045F8C
cblack = #1B1B1B
cwhitish = #F9F9F9
cdarkgray = #222222
